In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.arange(12).reshape(3,4))
print(df)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [18]:
df['insert'] = pd.DataFrame(np.arange(3).reshape((df.shape[0],1)))
print(df)

   0  1   2   3  insert
0  0  1   2   3       0
1  4  5   6   7       1
2  8  9  10  11       2

In [8]:
list = ['a','b','c']
print(np.array(list))
df['insert'] = pd.DataFrame(np.array(list))
# df = df.set_index('insert')
print(df)

['a' 'b' 'c']
   0  1   2   3 insert
0  0  1   2   3      a
1  4  5   6   7      b
2  8  9  10  11      c

In [10]:
df1 = df['insert']

<class 'pandas.core.series.Series'>

In [20]:
df.index = ['d','e','f']
print(df)

   0  1   2   3
d  0  1   2   3
e  4  5   6   7
f  8  9  10  11

In [12]:
Z = np.ones((10,10))
Z[1:-1,1:-1] = 0
print(Z)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [31]:
Z = np.ones((5,5))
Z = np.pad(Z, pad_width=((2,4),(2,3)), mode='constant', constant_values=0)
print(Z)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 1. 1. 1. 1. 0. 0. 0.]
 [0. 0. 1. 1. 1. 1. 1. 0. 0. 0.]
 [0. 0. 1. 1. 1. 1. 1. 0. 0. 0.]
 [0. 0. 1. 1. 1. 1. 1. 0. 0. 0.]
 [0. 0. 1. 1. 1. 1. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [34]:
print(0 * np.nan)
print(np.nan == np.nan)
print(np.inf > np.nan)
print(np.nan - np.nan)
print(0.3 == 3 * 0.1)

nan
False
False
nan
False

In [35]:
Z = np.diag(1+np.arange(4),k=-1)
print(Z)

[[0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]]