# Pandas基础

## 1.Series 一维，带标签数组
## 2.DataFrame 二维，Series容器

#### DataFrame对象既有行索引，又有列索引
#### 行索引，表明不同行，横向索引，叫index，0轴，axis=0
#### 列索引，表名不同列，纵向索引，叫columns，1轴，axis=1

In [4]:
import pandas as pd
import numpy as np

In [6]:
t1 = pd.DataFrame(np.arange(12).reshape(3,4))
print(t1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [7]:
t1 = pd.DataFrame(np.arange(12).reshape(3,4),index=list('abc'),columns=list('wxyz'))
print(t1)

   w  x   y   z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

#### DataFrame传入字典作为数据

In [8]:
d1 = {'name':['xiaohong','xiaoming'],'age':['18','30'],'tel':['10086','10000']}
t2 = pd.DataFrame(d1)
print(t2)
print(type(t2))

       name age    tel
0  xiaohong  18  10086
1  xiaoming  30  10000
<class 'pandas.core.frame.DataFrame'>

#### DataFrame传入列表作为数据

In [10]:
d2 = [{'name':'xiaohong','age':'32','tel':'10010'},{'name':'xiaogang','age':'18','tel':'10000'},{'name':'xiaowang','age':'22','tel':'10010'}]
t3 = pd.DataFrame(d2)
print(t3)
print(type(t3))

       name age    tel
0  xiaohong  32  10010
<class 'pandas.core.frame.DataFrame'>

In [11]:
print(t2.index)

RangeIndex(start=0, stop=2, step=1)

In [12]:
print(t2.columns)

Index(['name', 'age', 'tel'], dtype='object')

In [13]:
print(t2.values)

[['xiaohong' '18' '10086']
 ['xiaoming' '30' '10000']]

In [14]:
print(t2.shape)

(2, 3)

In [15]:
print(t2.dtypes)

name    object
age     object
tel     object
dtype: object

In [16]:
print(t2.ndim)  #t2的维度

2

### DataFrame整体情况查询
#### df.head(3) 显示头部几行，默认3行
#### df.tail(3) 显示末尾几行，默认5行
#### df.info() 展示df信息概览，行数，列数，列索引，列非空值个数，列类型，内存占用
#### df.describe() 快速综合统计结果：计数，均值，标准差，最大值，四分位数，最小值（只能统计数字）