In [8]:
import pandas as pd
import numpy as np

## pd.isnull(df),  pd.notnull(df)

In [2]:
t1 = pd.DataFrame(np.arange(12).reshape((3,4)),index=list('ABD'),columns=list('WXYZ'))
print(t1)

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
D  8  9  10  11

In [3]:
t1.iloc[1:,:2] = np.nan
print(t1)

     W    X   Y   Z
A  0.0  1.0   2   3
B  NaN  NaN   6   7
D  NaN  NaN  10  11

In [7]:
print(pd.isnull(t1))
print(pd.isnull(t1).sum(axis=0))

       W      X      Y      Z
A  False  False  False  False
B   True   True  False  False
D   True   True  False  False
W    2
X    2
Y    0
Z    0
dtype: int64

In [7]:
print(pd.notnull(t1))

       W      X     Y     Z
A   True   True  True  True
B  False  False  True  True
D  False  False  True  True

In [9]:
print(t1[pd.notnull(t1['W'])])

     W    X  Y  Z
A  0.0  1.0  2  3

#### 处理方式1：删除NaN所在的行列dropna (axis=0, how='any', inplace=False)
#### 处理方式2：填充数据，t.fillna(t.mean()),t.fiallna(t.median()),t.fillna(0)

In [35]:
t2 = t1.dropna(axis=0)  #how默认为any,表示当前方向上只要有nan就删掉
print(t2)

     W    X   Y   Z
A  0.0  1.0   2   3
B  NaN  NaN   6   7
D  NaN  NaN  10  11
     W    X  Y  Z
A  0.0  1.0  2  3
     W    X   Y   Z
A  0.0  1.0   2   3
B  NaN  NaN   6   7
D  NaN  NaN  10  11

In [36]:
t3 = t1.dropna(axis=0,how='all')  #how为all时表示，当前方向上，全为nan才删除
print(t3)

     W    X   Y   Z
A  0.0  1.0   2   3
B  NaN  NaN   6   7
D  NaN  NaN  10  11
     W    X   Y   Z
A  0.0  1.0   2   3
B  NaN  NaN   6   7
D  NaN  NaN  10  11

In [45]:
t4 = t1.dropna(axis=0,how='any',inplace=True)  #inplace 为True,修改后影响本身数组,不返回值
print(t4)
print(t1)

None
     W    X  Y  Z
A  0.0  1.0  2  3

#### 处理方式2：填充数据，t.fillna(t.mean()),  t.fiallna(t.median()),t.fillna(0)

In [9]:
t5 = pd.DataFrame(np.arange(12).reshape((3,4)),index=list('ABD'),columns=list('WXYZ'))
t5.iloc[1:,:2] = np.nan
print(t5)

     W    X   Y   Z
A  0.0  1.0   2   3
B  NaN  NaN   6   7
D  NaN  NaN  10  11

In [10]:
t6 = t5.fillna(0)
print(t6)

     W    X   Y   Z
A  0.0  1.0   2   3
B  0.0  0.0   6   7
D  0.0  0.0  10  11

In [54]:
t6 = t5.fillna(t5.mean())  #将均值填充进去
print(t6)

     W    X   Y   Z
A  0.0  1.0   2   3
B  0.0  1.0   6   7
D  0.0  1.0  10  11