In [9]:
import pandas as pd
import numpy as np

In [3]:
#读取csv中的数据
df = pd.read_csv('./dogNames2.csv')
df = df.sort_values(by='Count_AnimalName',ascending=False)

In [4]:
print(df[:20])  #取前20行

      Row_Labels  Count_AnimalName
1156       BELLA              1195
9140         MAX              1153
2660     CHARLIE               856
3251        COCO               852
12368      ROCKY               823
8417        LOLA               795
8552       LUCKY               723
8560        LUCY               710
2032       BUDDY               677
3641       DAISY               649
11703   PRINCESS               603
829       BAILEY               532
9766       MOLLY               519
14466      TEDDY               485
2913       CHLOE               465
14779       TOBY               446
8620        LUNA               432
6515        JACK               425
8788      MAGGIE               393
13762     SOPHIE               383

In [8]:
print(df[:20]["Row_Labels"])  #取前20行中的Row_Labels

1156        BELLA
9140          MAX
2660      CHARLIE
3251         COCO
12368       ROCKY
8417         LOLA
8552        LUCKY
8560         LUCY
2032        BUDDY
3641        DAISY
11703    PRINCESS
829        BAILEY
9766        MOLLY
14466       TEDDY
2913        CHLOE
14779        TOBY
8620         LUNA
6515         JACK
8788       MAGGIE
13762      SOPHIE
Name: Row_Labels, dtype: object

#### 总结：方括号[ ]中写数字代表对行进行操作，字符串则是对列进行操作

In [6]:
print(df[10:20])

      Row_Labels  Count_AnimalName
11703   PRINCESS               603
829       BAILEY               532
9766       MOLLY               519
14466      TEDDY               485
2913       CHLOE               465
14779       TOBY               446
8620        LUNA               432
6515        JACK               425
8788      MAGGIE               393
13762     SOPHIE               383

### 1.df.loc 通过标签索引行数据

In [12]:
t3 = pd.DataFrame(np.arange(12).reshape((3,4)),index = list('ABC'),columns = list('WXYZ'))
print(t3)

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [15]:
print(t3.loc['A','Z'])  #取‘A’行‘Z'列的值

3

In [19]:
print(t3.loc['A',:])  #取‘A’整行

W    0
X    1
Y    2
Z    3
Name: A, dtype: int32

In [21]:
print(t3.loc[:,'Y'])  #取‘Y'整列

A     2
B     6
C    10
Name: Y, dtype: int32

#### 取多行或多列

In [22]:
print(t3.loc[['A','C'],:]) #取'A'和'C'行

   W  X   Y   Z
A  0  1   2   3
C  8  9  10  11

In [23]:
print(t3.loc[:,['W','Z']]) #取多列

   W   Z
A  0   3
B  4   7
C  8  11

In [25]:
print(t3.loc['A',['W','Z']]) #取某行下的某列

W    0
Z    3
Name: A, dtype: int32

In [24]:
print(t3.loc[['A','B'],['W','Z']]) #取指定多行多列

   W  Z
A  0  3
B  4  7

In [27]:
print(t3.loc['A':'C',['W','Z']]) #取指定多行多列

   W   Z
A  0   3
B  4   7
C  8  11

### 2.df.iloc 通过位置获取行数据

In [28]:
t3 = pd.DataFrame(np.arange(12).reshape((3,4)),index = list('ABC'),columns = list('WXYZ'))
print(t3)

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [30]:
print(t3.iloc[1,:])

W    4
X    5
Y    6
Z    7
Name: B, dtype: int32

In [31]:
print(t3.iloc[:,2])

A     2
B     6
C    10
Name: Y, dtype: int32

In [32]:
print(t3.iloc[:,[2,1]]) #取第三列和第二列

    Y  X
A   2  1
B   6  5
C  10  9

In [33]:
print(t3.iloc[[0,2],[2,1]])

    Y  X
A   2  1
C  10  9

In [34]:
print(t3.iloc[1:,:2])

   W  X
B  4  5
C  8  9

#### 布尔索引

In [36]:
print(t3[t3['W']>2])

   W  X   Y   Z
B  4  5   6   7
C  8  9  10  11

In [37]:
print(t3[(t3['W']>2) & (t3['W']<8)])

   W  X  Y  Z
B  4  5  6  7