# Pandas基础

## 1.Series 一维，带标签数组
## 2.DataFrame 二维，Series容器

## 创建Series

In [1]:
import pandas as pd

In [4]:
t = pd.Series([1,2,3,4,5])
print(t)
print(type(t))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
t2 = pd.Series([1,2,3,4,5],index=list('abcde'))
print(t2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### 通过字典创建Series

In [8]:
temp_dict = {'name':'xiahong','age':'30','tel':'10086'}
t3 = pd.Series(temp_dict)
print(t3)

name    xiahong
age          30
tel       10086
dtype: object

## 数据类型 （与numpy一样）

In [12]:
print(t3.dtype)

object

In [14]:
t2 = t2.astype(float)
print(t2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

## Series的切片和索引

In [16]:
print(t3['age'])

30

In [17]:
print(t3[1])

30

#### 取连续的值

In [20]:
print(t3[:1])

name    xiahong
dtype: object

#### 取不连续的值

In [24]:
print(t3[[0,2]])

name    xiahong
tel       10086
dtype: object

In [32]:
print(t3[['age','name']])

age          30
name    xiahong
dtype: object

#### 布尔索引

In [27]:
t = pd.Series([1,2,3,4,5])
print(t)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
print(t[t>3])

3    4
4    5
dtype: int64

#### t.index 和t.values 可以分别取出Series的索引和值

In [37]:
print(t3.index)
print(type(t3.index))
for i in t3.index:
    print(i)
    
print('------'*10)
print(len(t3.index))
print(list(t3.index))

Index(['name', 'age', 'tel'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
name
age
tel
------------------------------------------------------------
3
['name', 'age', 'tel']

In [38]:
print(t3.values)
print(type(t3.values))

['xiahong' '30' '10086']
<class 'numpy.ndarray'>