In [1]:
import pandas as pd

In [2]:
#读取csv中的数据
df = pd.read_csv('./dogNames2.csv')
print(df)

      Row_Labels  Count_AnimalName
0              1                 1
1              2                 2
2          40804                 1
3          90201                 1
4          90203                 1
...          ...               ...
16215      37916                 1
16216      38282                 1
16217      38583                 1
16218      38948                 1
16219      39743                 1

[16220 rows x 2 columns]

In [3]:
print(df.head())
print(df.info())

  Row_Labels  Count_AnimalName
0          1                 1
1          2                 2
2      40804                 1
3      90201                 1
4      90203                 1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16220 entries, 0 to 16219
Data columns (total 2 columns):
Row_Labels          16217 non-null object
Count_AnimalName    16220 non-null int64
dtypes: int64(1), object(1)
memory usage: 253.6+ KB
None

In [4]:
print(df.describe())

       Count_AnimalName
count      16220.000000
mean           6.558631
std           31.862511
min            1.000000
25%            1.000000
50%            1.000000
75%            3.000000
max         1195.000000

#### DataFrame中排序的方法

In [7]:
df = df.sort_values(by='Count_AnimalName',ascending=False)  # by 根据by进行排序 ，ascending FALSE表示降序排序，默认True升序排序
print(df.head(10))

      Row_Labels  Count_AnimalName
1156       BELLA              1195
9140         MAX              1153
2660     CHARLIE               856
3251        COCO               852
12368      ROCKY               823
8417        LOLA               795
8552       LUCKY               723
8560        LUCY               710
2032       BUDDY               677
3641       DAISY               649